* text=auto

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.js text eol=lf
*.mjs text eol=lf
*.cjs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.sol text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
